<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{TITLE_ERROR}"></title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" th:href="@{/}">NIPT</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a th:href="@{/examination}" th:text="#{INSERT_EXAMINATION}"></a></li>
            <li><a th:href="@{/choice}" th:text="#{REPORT}"></a></li>
            <li><a th:href="@{/settings}" th:text="#{SETTINGS}"></a></li>
            <li><a th:href="@{/new}" th:text="#{ADD_USER}"></a></li>
            <li><a th:href="@{/manage}" th:text="#{MANAGE_USERS}"></a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <p class="alert alert-danger" th:text="#{FAILURE}"></p>
</div>
</body>
</html>